{
  "presets": ["next/babel"],
  "plugins": [
    [
      "styled-components",
      { "ssr": true, "displayName": true, "preprocess": false }
    ],
    [
      "@babel/plugin-transform-react-jsx-self",
      {
        "pragmaFrag": "React.Fragment"
      }
    ]
  ]
}
